#title {
    color:white;
    text-decoration:underline;
    font-family:Verdana;
    font-weight:bold;
    font-size:40px;
}

.subtitle {
    color:white;
    font-family:Verdana;
    font-weight:bold;
    font-size:30px;
}

.submission {
    color:white;
    font-family:Verdana;
    font-size:20px;
}

.background {
    background-color:rgb(163, 139, 116);
}